<!DOCTYPE html>
<html>
  <head>
    <title>Eventech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    
    <script type="text/javascript">
      window.eventechURL = "<%= image_url('eventech.png') %>"
    </script>
    <script type="text/javascript">
      window.eURL = "<%= image_url('e.png') %>"
    </script>
    <script type="text/javascript">
      window.userIconURL = "<%= image_url('user_icon.png') %>"
    </script>
    <script type="text/javascript">
      window.linkedinURL = "<%= image_url('linkedin_logo.png') %>"
    </script>
    <script type="text/javascript">
      window.githubURL = "<%= image_url('github_logo.png') %>"
    </script>
    <script type="text/javascript">
      window.angelURL = "<%= image_url('angelist_logo.png') %>"
    </script>
     <script type="text/javascript">
      window.portfolioURL = "<%= image_url('b_logo.png') %>"
    </script>

    <meta property="og:title" content="Eventech" />
    <meta property="og:image" content="<%= image_url('eventech.png') %>" />
    <meta property="og:description" content="Eventech is an event management and ticketing application that enables users to browse, create, and register for free online virtual events in the tech space, inspired by Eventbrite." />
    <meta property="og:url" content="https://eventech-hub.herokuapp.com/#/" />

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
